__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.env
*.sqlite3

backend/staticfiles/
backend/media/
backend/.env

frontend/node_modules/
frontend/dist/
frontend/.env

.env

.vscode/
.idea/
*.swp
*.swo
.DS_Store
